.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-field {
    flex: 0 0 calc(50% - 10px); /* Adjust the width as needed */
    margin-bottom: 15px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-select,
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


